<h1>客戶列表</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>電話</th>
        <th>操作</th>
    </tr>

    {% for customer in customers %}
    <tr>
        <!-- 這裡只抓取資料庫目前的 CustomerId, CustomerName, Phone -->
        <td>{{ customer[0] }}</td>
        <td>{{ customer[1] }}</td>
        <td>{{ customer[2] }}</td>
        <td>
            <a href="/customer/edit/{{ customer[0] }}">✏️ 編輯</a>
            &nbsp;|&nbsp;
            <a href="/customer/delete/{{ customer[0] }}" onclick="return confirm('確定要刪除這位客戶嗎？');" style="color: red;">❌ 刪除</a>
        </td>
    </tr>
    {% endfor %}
</table>

<br>
<a href="/customer/add">➕ 繼續新增客戶</a>
<br><br>
<a href="/">
    🔙 回首頁
</a>
